@import (reference) 'variables.less';

.qv-button-light {
  box-sizing: border-box;
  height: 28px;
  line-height: 24px;
  padding: 1px 10px;
  margin: 0;
  min-width: 44px;
  position: relative;
  vertical-align: middle;
  font-size: 13px;
  font-weight: bold;
  background-clip: border-box;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  border: solid 1px #b3b3b3;
  box-shadow: none;
  color: #595959;
  border-radius: 3px;

  &:hover {
    box-shadow: inset 1px 0 0 0 #595959, inset 0 1px 0 0 #595959, inset -1px 0 0 #595959, inset 0 -1px 0 0 #595959
  }

}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;
}

:-ms-input-placeholder {
   color: #ccc;
}

/*  D3 Tip  */
.d3-tip {
  font-size: 14px;
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 9999;
}

.d3-tip span {
  color: #fff;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Section Titles */
p.section-title {
  line-height: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin: 0;
  text-transform: uppercase;
  border-bottom: #00aeef solid 3px;
}

.bordered {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

/* UN STYLE MAPS */
.qv-map {

  circle {
    fill: brown;
    fill-opacity: .5;
    stroke: #fff;
    stroke-width: .5px;
    cursor: pointer;
    &:hover {
      stroke: #000;
    }

  }

  path {
    fill: #ccc;
    stroke: #ccc;
  }

}


/* MENU BUTTON IN PHONE LAYOUT */
#menu-button {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #354051;
  position: fixed;
  border-radius: 100%;
  right: 20px;
  bottom: 20px;
  box-shadow: rgba(0,0,0,.5) 0 2px 4px 0;
  cursor: pointer;
   
  img {
    margin: 17px 13px;
    vertical-align: middle;
    border: 0;
  }
  
  @media @phone {
    display: block;
  }
  
}

/* THREE COLUMN TABLE WITH BAR */
.three-col-table {
	table {
		border-collapse: separate;
		font-size: 14px;
		padding-top: 20px;
		width: 100%;
	  
		tr {
			background-color: white !important;
			border: none;			  
		}
		
		th {
		  padding-left: 0;
		  color: #666666;
		  font-weight: 500;
		  text-align: left;
		  font-size: 14px;			  
		}
		
		td {
			line-height: 22px;
			padding: 0 3px 0 0;
			vertical-align: top;
			white-space: nowrap;				
		}
		
		.col1 {
			width: 40%;
			text-align: left;
			cursor: pointer;				
		}
		
		.col2 {
			width: 40%;
			padding-right: 10px;
			
			div {
				height: 18px;
				background: rgb(39, 48, 81);
			}
			
		}
		
		.col3 {
			width: 10%;
		}
	  			
	}
	
}