@import (reference) 'variables.less';

#HEADER() {
  #top-controls {
    padding: 0;
    margin: 0;

    background-color: @TOP_BGCOLOR;

    img {
      max-width: 100%;
      display: block;
      height: auto;
      margin-left: 20px;
      margin-right: 20px;
      
      @media @phone {
        width: 56px;
        margin: 0 10px;
      }
      
    }

    h1 {
      font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #4d4d4d;
      margin-left: 15px;
      letter-spacing: -0.02em;
      font-weight: 500;
      font-size: 48px;
      line-height: 45px;
      text-transform: uppercase;
      margin: 0;
      
      @media @phone {
        font-size: 28px;
      }
    }
    
    .openintro {
      flex: 1;
      color: #4d4d4d;
      text-align: end;
      font-size: 40px;
      padding-right: 20px;
      cursor: pointer;
    }

  }
}

#BRAND-BAR() {
  #brand-bar {
    background-color: #f2f2f2;
    border: 0;
    border-bottom: #00aeef solid 5px;
    height: 41px;
    min-height: inherit;
    
    a {
      padding: 0 0 0 25px;;
      height: 31px;
      font-size: 12.35px;
      line-height: 31px;;
      font-weight: 400;
      letter-spacing: 0.03em;
      color: #000;
      &:after {
        font-family: FontAwesome;
        color: #000;
        font-size: 18.07px;
        line-height: 31px;
        margin-right: 7.8px;
        float: left;
        content: "\f015";
      }
    }
    
  }
}
