@import 'filter.less';
@import 'navigation.less';
@import (reference) 'color.less';

#SIDEBAR() {

  #sidebar {

    background-color: @SIDEBAR_BGCOLOR;
    color: @SIDEBAR_FONTCOLOR;

    height: 100%;

    border-right: 1px solid #e8e8e8;
    overflow-y: auto;

    z-index: 99;

    .heading {
      padding: 15px 0 10px 15px;
      
      color: #00aeef;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      
      background-color: #fff;      
      border-top: 1px solid #e8e8e8;


      #clearfilter {
        float: right;
        margin-right: 10px;
        font-size: 16px;
        color: #00aeef;
        cursor: pointer;
      }

    }

    #NAVIGATION();
    .FILTER();

  }

}