@import (reference) 'variables.less';
@import (reference) 'grid.less';
@import (reference) 'sidebar.less';
@import (reference) 'tweettable.less';
@import (reference) 'export.less';
@import (reference) 'intro.less';
@import (reference) 'header.less';
@import 'components.less';

body {
  font-family: Roboto, sans-serif;
  background-color: #f1f1f1;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
}

#BRAND-BAR();
#HEADER();

#INTRO();

#GRID();
#SIDEBAR();

#CONTENT();
#EXPORT();


#CONTENT() {
  #content {

    border-top: 1px solid #eee;

    #search {

      flex: 0 0 50px;
      position: relative;
      z-index: 1;
      display: flex;
      background-color: #fff;
      border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      input {
        flex: 1;
        height: 49px;
        float: left;
        padding-left: 50px;
        outline: none;
        border: 0;
        font-size: 16px;
        color: #b3b3b3;
      }
      
      button {
        flex: 0 0 100px;
        align-self: flex-end;
        margin: 10px 40px 10px 10px;
        
        @media @tablet {
          margin: 10px;
        }
        
      }

      .magnifying-glass {
        position: absolute;
        left: 15px;
        top: 12px;
        height: 20px;
        width: 20px;
        color: #00aeef;
        font-size: 24px;
      }
      

    }
    
    #main {
      .section-right {
        flex: 2;
        margin: 0 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        @media @tablet {
          flex: 1 1 100%;
          margin: 0;       
        }
        
        .part {
          display: inline-block;
          background-color: #fff;
          max-width: 480px;
          width: 100%;
          padding: 0 20px 20px 20px;
          min-height: 350px;
          margin-bottom: 10px;
          margin-right: 10px;
          flex: 1 1 450px;
          
          @media @tablet {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;          
          }
  
          .part-of-part {
            width: 100%;
            float: left;
          }
  
          #worldmapsmall {
            float: left;
            max-width: 600px;
          }
  
          #tweettable {
            float: left;
            display: hidden;
          }
  
          #wordcloud {
            margin-top: 20px;
            margin-bottom: 20px;
          }
  
        }
  
      }
  
      #TWEETTABLE();      
    }

  }
}


#suggestions {
  position: absolute;
  top: 50px;
  left: 41px;
  min-width: 130px;
  border: 1px solid #b3b3b3;
  background-color: #fff;
  border-radius: 3px;
  z-index: 1000;
  padding: 5px;
  
  ul {
    list-style: none;
    margin: 0;
    
    li {
      
      height: 30px;
      line-height: 30px;
      padding-left: 5px;
      border-bottom: 1px solid #ccc;
      
      &.active {
        background-color: #ccc;
      }
      
      &:last-of-type {
        margin-bottom: 0;
        border-bottom: 0;
      }
      
    }
    
    
  }
  
}







