@import (reference) 'variables.less';

#UNSUPPORTED() {
	#main.unsupported {
		
		.browserwrap {
			display: flex;
			flex-direction: row;
			flex-wrap: no-wrap;
			
			.browser {
				flex: 1;
			}
			
		}
		
	}
};