<section class="titlesection bordered">
  <h3>Please Update Your Browser</h3>
  <p>The Diplomatic Pulse web application uses cutting edge technology that is not available in older browsers.
    <br>Please use or download one of these browsers:
    <br>
    <div class="browserwrap">
      <div class="browser">
        <a href="https://www.google.com/chrome/browser/desktop/"><img src="static/img/browserlogo/chrome.png" alt="">Google Chrome</a>
      </div>
      <div class="browser">
        <a href="https://www.mozilla.org/en-US/firefox/new/"><img src="static/img/browserlogo/firefox.png" alt="">Firefox</a>
      </div>
      <div class="browser">
        <a href="https://www.google.com/chrome/browser/desktop/"><img src="static/img/browserlogo/ie.png" alt="">Internet Explorer</a>
      </div>
      <div class="browser">
        <a href="https://www.google.com/chrome/browser/desktop/"><img src="static/img/browserlogo/safari.png" alt="">Safari</a>
      </div>            
    </div>
  </p>
</section>
