<section class="titlesection bordered">
  <h3>Please Update Your Browser</h3>
  <p>The Diplomatic Pulse web application uses cutting edge technology that is not available in older browsers.
    <br>Please use or download one of these browsers:
    <br>
    <a href="https://www.google.com/chrome/browser/desktop/">Google Chrome</a> <br>
    <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a> <br>
    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer</a> <br>
    <a href="https://support.apple.com/downloads/safari">Safari</a>
  </p>
</section>
